.inputStyle {
    font-size: 0.8em;
    width: 17em;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    transition: all .5s;
}
.inputStyle:focus {
    background-color: rgb(199, 202, 187);
    color: white;
    font-size: 0.9em;
}

@media only screen and (max-width: 568px){
    .inputStyle {
        width: 14em;
    }
}